$icomoon-font-family: "belanja" !default;
$icomoon-font-path: "../fonts" !default;

$icon-language: "\e96d";
$icon-education-solid: "\e900";
$icon-content: "\e901";
$icon-content-solid: "\e902";
$icon-education: "\e903";
$icon-shipping: "\e904";
$icon-shipping-solid: "\e905";
$icon-customer-solid: "\e906";
$icon-customer: "\e907";
$icon-more: "\e908";
$icon-instagram: "\e909";
$icon-minus-sm: "\e90a";
$icon-plus-sm: "\e90b";
$icon-close: "\e90c";
$icon-close-circle: "\e90d";
$icon-facebook-official: "\e90e";
$icon-edit: "\e90f";
$icon-eye: "\e910";
$icon-eye-off: "\e911";
$icon-checkmark-circle-o: "\e912";
$icon-copy: "\e913";
$icon-help: "\e914";
$icon-image: "\e915";
$icon-trash: "\e916";
$icon-assignation: "\e917";
$icon-assignation-solid: "\e918";
$icon-belanja: "\e919";
$icon-calendar: "\e91a";
$icon-camera: "\e91b";
$icon-checkbox: "\e91c";
$icon-checkbox-o: "\e91d";
$icon-checkmark: "\e91e";
$icon-checkmark-circle: "\e91f";
$icon-envelope: "\e920";
$icon-envelope-solid: "\e921";
$icon-exit: "\e922";
$icon-expand: "\e923";
$icon-facebook: "\e924";
$icon-facebook-solid: "\e925";
$icon-grid: "\e926";
$icon-hand: "\e927";
$icon-home: "\e928";
$icon-home-solid: "\e929";
$icon-list: "\e92a";
$icon-ban: "\e92b";
$icon-notifications: "\e92c";
$icon-notifications-outline: "\e92d";
$icon-pin: "\e92e";
$icon-pin-solid: "\e92f";
$icon-plus: "\e930";
$icon-product: "\e931";
$icon-product-solid: "\e932";
$icon-search: "\e933";
$icon-settings: "\e934";
$icon-wallet: "\e935";
$icon-wallet-solid: "\e936";
$icon-arrow-forward: "\e937";
$icon-arrow-back: "\e938";
$icon-arrow-back-circle: "\e939";
$icon-arrow-forward-circle: "\e93a";
$icon-instagram-off: "\e93b";
$icon-order: "\e93c";
$icon-order-solid: "\e93d";
$icon-open: "\e93e";
$icon-card: "\e93f";
$icon-download: "\e940";
$icon-card-solid: "\e941";
$icon-whatsapp: "\e942";
$icon-mail: "\e943";
$icon-call: "\e944";
$icon-pin-location: "\e945";
$icon-store: "\e946";
$icon-email-heart: "\e947";
$icon-ban-solid: "\e948";
$icon-digital: "\e949";
$icon-link: "\e94a";
$icon-optin: "\e94b";
$icon-physical: "\e94c";
$icon-back: "\e94d";
$icon-shrink: "\e94e";
$icon-forward: "\e94f";
$icon-membership: "\e950";
$icon-shopee: "\e951";
$icon-soundcloud: "\e952";
$icon-alert: "\e953";
$icon-tokopedia: "\e954";
$icon-twitter: "\e955";
$icon-youtube: "\e956";
$icon-applepodcast: "\e957";
$icon-bukalapak: "\e958";
$icon-googlepodcast: "\e959";
$icon-lazada: "\e95a";
$icon-spotify: "\e95b";
$icon-whatsapp-outline: "\e95c";
$icon-blibli: "\e95d";
$icon-soundcloud-play: "\e95e";
$icon-belanja-off: "\e95f";
$icon-belanja-empty: "\e960";
$icon-line: "\e961";
$icon-linkedin: "\e962";
$icon-messenger: "\e963";
$icon-skype: "\e964";
$icon-telegram: "\e965";
$icon-refresh: "\e966";
$icon-voucher-solid: "\e967";
$icon-voucher: "\e968";
$icon-key: "\e969";
$icon-google: "\e96a";
$icon-menu: "\e96b";
$icon-arrow-down: "\e96c";